<div class="banner breadcrumb-bg h-auto w-100 position-relative z-3" style="background-image: url(./public/images/banner/breadcrumb_bg.jpg); background-position: center 70px;padding: 90px 0;">
    <div class="breadcrumb-content py-5 container">
        <h3 class="title text-white wow fadeInLeft" data-wow-delay="0.2s">Giới thiệu</h3>
        <nav class="text-white wow fadeInLeft" data-wow-delay="0.4s" aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center">
                <li class="breadcrumb-item"><a class="text-white fs-5 fw-medium nav-link" href="#">Trang chủ</a></li>
                <i class="bi bi-chevron-right px-2"></i>
                <li class="breadcrumb-item active text-secondary fs-5 fw-medium" aria-current="page">Giới thiệu</li>
            </ol>
        </nav>
    </div>
</div>
<section style="padding: 100px 0;">
    <div class="container d-flex flex-wrap justify-content-between g-50 py-5">
        <div class="col-12 col-lg-5 py-2">
            <div class="btn-1 wow fadeInLeft" data-wow-delay="0.2s">Những người đó là ai?</div>
            <h2 class="fw-bolder mt-3 wow fadeInLeft" data-wow-delay="0.3s">THỊ TRƯỜNG <span class="text-primary">HÀNG ĐẦU</span> VỀ HỌC TẬP VÀ GIẢNG DẠY</h2>
            <div class="text-color-grey fw-medium my-3 wow fadeInLeft" data-wow-delay="0.4s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deserunt harum fugiat nemo quae saepe!
            </div>
            <div class="text-color-grey mt-2 wow fadeInLeft" data-wow-delay="0.5s">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim natus debitis officiis cum, quo reiciendis facere magnam laboriosam, repellat omnis nobis? Veritatis distinctio laboriosam dolorum a earum non dolor. Possimus.
            </div>
            <a href="" class="btn btn-primary fw-medium py-2 mt-4 wow fadeInLeft" data-wow-delay="0.6s">Các bài Quizz <i class="bi bi-arrow-right"></i></a>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center g-15 position-relative">
            <div class="col-5">
                <img class="rounded w-100 wow fadeInLeft" data-wow-delay="0.3s" src="./public/images/about/about_img03.jpg" alt="">
            </div>
            <div class="d-flex flex-column g-15 col-5">
                <img class="rounded w-100 wow fadeInRight" data-wow-delay="0.3s" src="./public/images/about/about_img04.jpg" alt="">
                <img class="rounded w-100 wow fadeInUp" data-wow-delay="0.3s" src="./public/images/about/about_img05.jpg" alt="">
            </div>
            <img class="position-absolute z-n1 wow fadeInUp" data-wow-delay="0.5s" style="left: -55px; bottom: 25px;" width="130px"  src="./public/images/about/icon/about_shape01.png" alt="">
            <img class="position-absolute z-n1 wow fadeInRight" data-wow-delay="0.5s" style="right: 50px; top: -55px;" width="130px"  src="./public/images/about/icon/about_shape02.png" alt="">
            <img class="position-absolute z-n1 rotate" style="right: 50px; bottom: -75px;" width="150px"  src="./public/images/about/icon/about_shape03.png" alt="">
        </div>
    </div>
</section>
<section class="py-5" style="background-image: url(./public/images/banner/fact_bg.jpg); background-size: cover;">
    <div class="btn-1 mx-auto wow fadeInUp" data-wow-delay="0.2s">Thành tựu của chúng tôi</div>
    <h2 class="text-center fw-bolder my-5 w-50 mx-auto wow fadeInUp" data-wow-delay="0.4s">PHÁT TRIỂN <span class="text-primary">KĨ NĂNG</span> CỦA BẠN ĐỂ NÂNG CAO CON ĐƯỜNG SỰ NGHIỆP CỦA BẠN</h2>
    <div class="container d-flex justify-content-center flex-wrap g-20">
        <div class="card text-center py-5 wow fadeInUp" data-wow-delay="0.2s" style="width: 290px;">
            <div style="width: 100px;" class="mx-auto">
                <img src="./public/images/about/icon/icon-1.png" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title">325,200</h4>
                <div class="card-text">Học sinh đã ghi danh</div>
            </div>
        </div>
        <div class="card text-center py-5 wow fadeInUp" data-wow-delay="0.3s" style="width: 290px;">
            <div style="width: 100px;" class="mx-auto">
                <img src="./public/images/about/icon/icon-2.png" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title">11,399</h4>
                <div class="card-text">Các bài Quizz hàng đầu</div>
            </div>
        </div>
        <div class="card text-center py-5 wow fadeInUp" data-wow-delay="0.4s" style="width: 290px;">
            <div style="width: 100px;" class="mx-auto">
                <img src="./public/images/about/icon/icon-4.png" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title">312</h4>
                <div class="card-text">Các nước trên thế giới</div>
            </div>
        </div>
        <div class="card text-center py-5 wow fadeInUp" data-wow-delay="0.5s" style="width: 290px;">
            <div style="width: 100px;" class="mx-auto">
                <img src="./public/images/about/icon/icon-3.png" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title">590</h4>
                <div class="card-text">Giải thưởng nhận được</div>
            </div>
        </div>
    </div>
</section>
<section class="position-relative text-center text-white breadcrumb-bg z-3" style="background-image: url(./public/images/about/cta_bg.jpg); background-size: cover;background-position: center 80px; padding: 120px 0;">
    <div class="fs-5 wow fadeInUp" data-wow-delay="0.3s">Bạn đã sãn sàng làm Quizz</div>
    <h2 class="my-3 wow fadeInUp" data-wow-delay="0.4s">MIỄN PHÍ CHO TẤT CẢ MỌI NGƯỜI</h2>
    <h4 class="wow fadeInUp" data-wow-delay="0.5s">Sinh viên và Người hướng dẫn</h4>
    <a href="" class="btn btn-primary fw-bold py-2 mt-3 wow fadeInUp" data-wow-delay="0.6s">Bạn là sinh viên <i class="bi bi-arrow-right"></i></a>
</section>
<section class="py-5 bg-white">
    <div class="container py-5">
        <div class="btn-1 mb-3 wow fadeInLeft" data-wow-delay="0.3s">Các sự kiện nổi bật</div>
        <h2 class="wow fadeInLeft" data-wow-delay="0.4s"><span class="text-primary">SỰ KIỆN</span> SẮP TỚI</h2>
    </div>
</section>