<div class="banner breadcrumb-bg h-auto w-100 position-relative z-3" style="background-image: url(./public/images/banner/breadcrumb_bg.jpg); background-position: center 70px;padding: 90px 0;">
    <div class="breadcrumb-content py-5 container">
        <h3 class="title text-white wow fadeInLeft" data-wow-delay="0.2s">Hỏi đáp</h3>
        <nav class="text-white wow fadeInLeft" data-wow-delay="0.4s" aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center">
                <li class="breadcrumb-item"><a class="text-white fs-5 fw-medium nav-link" href="#">Trang chủ</a></li>
                <i class="bi bi-chevron-right px-2"></i>
                <li class="breadcrumb-item active text-secondary fs-5 fw-medium" aria-current="page">Hỏi đáp</li>
            </ol>
        </nav>
    </div>
</div>
<section class="py-5">
    <div class="container d-flex flex-column g-5 align-items-center">
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Hệ thống Learn Well là gì?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse1">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Gói thành viên tiêu chuẩn bao gồm những gì?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse2">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Làm thế nào để chọn được lớp học phù hợp với tôi?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse3">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Tôi có thể tạm dừng gói thành viên Premium của mình bất cứ lúc nào không?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse8">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Chương trình liên kết hoạt động như thế nào?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse4">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Chúng tôi cung cấp dịch vụ cho bạn như thế nào?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse5">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Tôi có thể tải ứng dụng LearnWell xuống ở đâu?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse6">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapses p-3 rounded d-flex justify-content-between align-items-center" style="background-color: #E6F2FF; cursor: pointer;">
                <h5>Làm thế nào chúng ta trở nên tốt nhất trong số những người khác?</h5>
                <i class="bi bi-arrow-right-circle-fill fs-4 text-primary"></i>
            </div>
            <div class="collapse" id="collapse7">
                <p class="p-3">Sorem ipsum dolor sit amet consectetur adipiscing elit massa aenean orci erat pellentesque areaultrices idposere interdum est proin lacus acilisis faucibus egestas fringilla dolor tellus sit venenatis lorem ipsumaw dolor onsectur.Sorem ipsum dolor sit amet consectetu.</p>
            </div>
        </div>
    </div>
</section>