<div ng-controller="ForgotPswController">
    <div class="banner breadcrumb-bg h-auto w-100 position-relative z-3" style="background-image: url(./public/images/banner/breadcrumb_bg.jpg); background-position: center 70px;padding: 90px 0;">
        <div class="breadcrumb-content py-5 container">
            <h3 class="title text-white">Bạn muốn cập nhật mật khẩu?</h3>
            <nav class="text-white" aria-label="breadcrumb">
                <ol class="breadcrumb d-flex align-items-center">
                    <li class="breadcrumb-item"><a class="text-white fs-5 fw-medium nav-link" href="#">Trang chủ</a></li>
                    <i class="bi bi-chevron-right px-2"></i>
                    <li class="breadcrumb-item active text-secondary fs-5 fw-medium" aria-current="page">Đổi mật khẩu</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="bg-light d-flex justify-content-center">
        <div class="py-5 col-8 d-none d-xl-flex align-items-center justify-content-center" style="background-color: #E7EFFC;">
            <img class="w-50" src="./public/images/banner/login-security.svg" alt="">
        </div>
        <div class="px-3 py-5 p-sm-5 col-12 col-xl-4 d-flex justify-content-center align-items-center">
            <div style="width: 400px;">
                <h4 class="mb-3">Cập nhật mật khẩu</h4>
                <p class="mt-3">Vui lòng nhập đúng mật khẩu của bạn để chúng tôi có thể đặt lại mật khẩu mới cho bạn.</p>
                <form name="myForm" class="mt-4">
                    <div class="mb-3">
                        <label for="email" class="form-label">Mật khẩu hiện tại</label>
                        <input minlength="6" type="password" class="form-control" id="password" name="password" ng-model="password" required placeholder="Mật khẩu hiện tại">
                        <span ng-show="myForm.password.$touched && myForm.password.$error.required" class="text-danger">Trường password không được để trống!</span>
                        <span ng-show="myForm.password.$error.minlength" class="text-danger">Độ dài mật khẩu phải lớn hơn 6!</span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Mật khẩu hiện tại</label>
                        <input minlength="6" type="password" class="form-control" id="newPassword" name="newPassword" ng-model="newPassword" required placeholder="Mật khẩu mới">
                        <span ng-show="myForm.newPassword.$touched && myForm.newPassword.$error.required" class="text-danger">Trường mật khẩu mới không được để trống!</span>
                        <span ng-show="myForm.newPassword.$error.minlength" class="text-danger">Độ dài mật khẩu phải lớn hơn 6!</span>
                    </div>
                    <button ng-click="submitForm()" ng-disabled="myForm.$invalid" class="btn btn-primary col-12 mb-3">Đổi mật khẩu</button>
                </form>
            </div>
        </div>
    </section>
</div>